<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>Entypo</title>

		<link rel="stylesheet" href="../../bower_components/bootstrap-css-only/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../bower_components/open-sans-fontface/open-sans.css" />
		<link rel="stylesheet" href="../css/<%= fontBaseName %>.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-no-collapse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="./Entypo.html">
						<span class="icon-rocket text-danger"></span>
						Entypo
					</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="Entypo.html">Icons</a></li>
					<li><a href="docs.html">Docs</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<a class="btn btn-danger" href="http://github.com/g00glen00b/entypo">Contribute</a>
					</div>
				</form>
			</div>
		</nav>
		<div class="masthead">
			<div class="container">
				<h1 class="text-center">Entypo comes in two flavours, choose the icon set that fits your needs</h1>
				<div class="row">
					<div class="col-xs-6">
						<h3>Entypo</h3>
						<p>Entypo is the name of the original iconset. This set guarantees to be backwards compatible to the original <a href="http://github.com/danielbruce/entypo" target="_blank">Github project</a>.</p>
						<p><a href="Entypo.html" class="btn btn-danger">View Entypo</a></p>
					</div>
					<div class="col-xs-6">
						<h3>Entypo<span class="text-danger">+</span></h3>
						<p>Entypo+ is the name of the <a href="http://entypo.com" target="_blank">new iconset</a>, provided by the same creator, Daniel Bruce. It has a lot of new icons, but some icons of the original set were left away.</p>
						<p><a href="EntypoPlus.html" class="btn btn-danger">View Entypo+</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				<h2><%= fontBaseName %> <small>(<%= glyphs.length %> icons)</h2>
			</div>
			<div class="col-md-offset-8 col-md-4">
				<form class="form-horizontal">
					<div class="form-group search">
						<input type="search" class="form-control" placeholder="Search for an icon, eg. book" />
					</div>
				</form>
			</div>
			<div class="row icons">
				<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
					<div class="col-xs-6 col-sm-4 col-md-3" data-name="<%= glyph %>">
						<a href="#" class="icon">
							<span class="<%= baseClass %> <%= classPrefix %><%= glyph %>"></span> <%= classPrefix %><%= glyph %>
						</a>
					</div>
				<% } %>
			</div>
		</div>
		<footer>
			<div class="container">
				<p class="text-center text-muted"><small><a href="http://entypo.com" target="_blank"><strong>Entypo</strong></a> created by <a href="http://www.danielbruce.se/" target="_blank"><strong>Daniel Bruce</strong></a> &mdash; Project maintained by <a href="http://g00glen00b.be" target="_blank"><strong>g00glen00b</strong></a></small></p>
			</div>
		</footer>

		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
